.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 15%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container form label {
    color: #232a34;
    font-size: 20px;
    font-weight: 500;
}

.container form {
    width: 100%;
    padding: 50px 60px;
    /*box-shadow: 0 5px 25px rgba(1, 1, 1, 0.3);*/
    background-color: white;
}

.container form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 0 20px;
    cursor: pointer;
    border: 0;
    background: rgb(0, 155, 252);
    border-radius: 6px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    height: 45px;
    margin-right: 20px;
}

.container .buttons {
    display: flex;
}

.container form button:hover {
    background: rgb(0, 98, 255);
}

.inputs {
    width: 100%;
    margin-bottom: 40px;
}

.inputs > input, .inputs select {
    font-size: 16px;
    outline: none;
    border: 2px rgba(160, 160, 160, 0.6) solid;
    width: 100%;
	background: white;
	display: flex;
	align-items: center;
    padding: 0 20px;
    height: 45px;
    transition: 0.2s ease;
    font-weight: 400;
    margin-top: 8px;
    border-radius: 8px;
}

.inputs textarea {
    font-size: 15px;
    outline: none;
    border: 2px rgba(160, 160, 160, 0.6) solid;
    width: 100%;
	background: white;
	display: flex;
    transition: 0.2s ease;
    font-weight: 400;
    padding: 10px 20px;
    margin-top: 8px;
    border-radius: 8px;
    resize: none;
}

.inputs > input:focus, .inputs textarea:focus, .inputs select:focus {
    border: rgba(0, 155, 255, 0.6) solid 2px;
}

.inputs h3 {
    color: rgba(255, 44, 44, 0.6);
    font-weight: 400;
    margin-top: 10px;
    font-size: 16px;
    display: none;
}

.select-image {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 8px;
}

.select-image input {
    display: none; 
}

.select-image img {
    border-radius: 10px;
}

.image_2, .image_3, .image_4 {
    visibility: hidden;
}

.error h4 {
    color: rgba(255, 0, 0);
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    display: none;
}
